@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500&display=swap');

:root{
  --main-bg-color:#001d3d;
  --main-btn-color:#001d3d;
  --profile-bg: lightblue;

}

body{
  background-color: var(--main-bg-color);
  font-family: 'Lato', sans-serif;
}

.App{
  background-color: white;
  display: f;
  width: 40%;
  padding: 1rem 2rem 3rem 2rem;
  margin: auto;
  border-radius:3px;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.btn{
  width: 95%;
  height: 2.5rem;
  border-radius: 3px;
  border: none;
  background-color:var(--main-btn-color);
  color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--main-bg-color);
}

.profile{
  background-color: var(--profile-bg);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding-left: 0.5rem;

}

.profile-image{
  height: 3rem;
  width: 3rem;
}

.profile-detail{
  margin-left: 0.5rem;
}

.profile-detail h4{
  margin-bottom: 0;
}

.profile-detail p{
  margin-top: 0;
}

img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-button{
  text-align: center;
}